/*font*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import './MyNavbar.scss';
//@import './Courses/Course.scss';
@import './Courses/Courses.scss';
@import './Courses/CourseSlot.scss';
@import './Schedule.scss';
@import './Requests/Requests.scss';
@import './Staff.scss';
@import './Login.scss';
/*colors*/
/*logo colors*/
$color-guc-red : #EC151D;
$color-guc-yellow : #FFCB08;
$color-guc-black : #000000;
/*extra colors*/
$color-prime : #1c4886;
$color-secondary :  #008A62;
$color-gray :  #e0e0e0;


a{
    text-decoration: none;
    
}
a:hover{
    text-decoration: none;
    
}
*:focus{
    outline: none !important;
    outline-offset: none !important;
}