/*colors*/
/*logo colors*/
$color-guc-red : #EC151D;
$color-guc-yellow : #FFCB08;
$color-guc-black : #000000;
/*extra colors*/
$color-prime : #1c4886;
$color-secondary :  #008A62;
$color-gray :  #e0e0e0;

.table{
    box-shadow: 1px 2px 5px 0.1px $color-prime;
    th,td{
        border: 1px solid $color-prime !important;
        
    }
    td{
        color : $color-prime !important;
    }    
    .header{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: $color-secondary;
        color: white;
    }
    .row-header{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #29C195;
        color: white;
    }
    td{
        background-color:$color-gray;
    }
}
