
/*colors*/
/*logo colors*/
$color-guc-red : #EC151D;
$color-guc-yellow : #FFCB08;
$color-guc-black : #000000;
/*extra colors*/
$color-prime : #1c4886;
$color-secondary :  #008A62;
$color-gray :  #e0e0e0;
$color-reject : #880d28;
$color-received : #d6d696;

.container{
    .rejected{
        .card-header-reject{
            background-color: $color-reject !important;
            color : white !important;
            border-radius: 25px 25px 0px 0px !important;
        }
    }
    .accepted{
        .card-header-accept{
            background-color: $color-secondary !important;
            color : white !important;
            border-radius: 25px 25px 0px 0px !important;
        }
    }
    .pending{
        .card-header-pending{
            background-color: $color-gray !important;
            color : $color-prime !important;
            border : 2px solid $color-prime !important;
            border-radius: 25px 25px 0px 0px !important;
        }
        .rejectedRequests{
            background-color: $color-reject !important;
            color: white !important;
            border-radius: 25px !important;
            border : 2px solid $color-reject !important;
        }
        .rejectedRequests:hover{
            background-color: white !important;
            color: $color-reject !important;
            border : 2px solid $color-reject !important;
        }
    }
    .create-new-request{
        background-color: $color-prime !important;
        color: white !important;
        border-radius: 25px !important;
        border : 2px solid $color-prime !important;
    }
    .create-new-request:hover{
        background-color: white !important;
        color: $color-prime !important;
        border : 2px solid $color-prime !important;
    }
    .navigation-btns{
        
        .receivedRequests{
            background-color: $color-received !important;
            color: $color-prime !important;
            border-radius: 25px !important;
            border : 2px solid $color-prime !important;
        }
        .receivedRequests:hover{
            background-color: $color-prime !important;
            color: $color-received !important;
            border : 2px solid $color-received !important;
        }
        .acceptedRequests{
            background-color: $color-secondary !important;
             color: white !important;
            border-radius: 25px !important;
            border : 2px solid $color-secondary !important;
        }
        .acceptedRequests:hover{
            background-color: white !important;
            color: $color-secondary !important;
            border : 2px solid $color-secondary !important;
        }
        .pendingRequests{
            background-color: $color-gray !important;
            color: $color-prime !important;
            border-radius: 25px !important;
            border : 2px solid $color-prime !important;
        }
        .pendingRequests:hover{
            background-color:  #797979 !important;
            color: $color-gray !important;
            border : 2px solid $color-prime !important;
        }
        .rejectedRequests{
            background-color: $color-reject !important;
            color: white !important;
            border-radius: 25px !important;
            border : 2px solid $color-reject !important;
        }
        .rejectedRequests:hover{
            background-color: white !important;
            color: $color-reject !important;
            border : 2px solid $color-reject !important;
        }
    }
    
    .create-req-body{
        .card{
            background-color: $color-gray !important;
            border: 0px solid $color-secondary !important;
            box-shadow: 1px 2px 5px 0.1px $color-prime;
            border-radius: 25px;
            border-radius: 25px !important;
            .card-header{
                background-color: $color-prime !important;
                color : white !important;
                border-radius: 25px 25px 0px 0px !important;
                .header-select{
                    width : 21% !important;
                    select{
                        
                        border-radius: 25px !important;
                        border : 2px solid white     !important; 
                        background-color: $color-prime !important;
                        color: white !important;
                        outline: $color-secondary !important;       
                    }
                }
            }
            .card-title{
                border-radius: 25px !important;
                width : 21% !important;
                select{
                    background-color: #f0f0f0 !important;
                    border : 2px solid $color-prime !important; 
                    border-radius: 25px !important; 
                    color: $color-prime !important;
                    outline: $color-gray !important;
                    
                }
                input[type=text] {
                    border : 2px solid $color-prime !important;
                    width : 125% !important; 
                    border-radius: 25px !important;
                    padding: 12px 20px;
                    margin: 8px 0;
                    box-sizing: border-box;
                  }
            }
            textarea {
                padding: 12px 20px;
                box-sizing: border-box;
                border: 2px solid $color-prime !important;
                border-radius: 25px;
                background-color: #f8f8f8;
                color: $color-prime !important;
                resize: none;
            }
            
                
            .btns{

                .accept{
                    background-color: $color-secondary !important;
                    color: white !important;
                    border-radius:  25px !important;
                    border : 2px solid $color-secondary !important;
                }
                .accept:hover{
                    background-color: white !important;
                    color: $color-secondary !important;
                    border : 2px solid $color-secondary !important;
                }
                .reject{
                    background-color: $color-reject !important;
                    color: white !important;
                    border-radius:  25px !important;
                    border : 2px solid $color-reject !important;
                }
                .reject:hover{
                    background-color: white !important;
                    color: $color-reject !important;
                    border : 2px solid $color-reject !important;
                }
            }

        }
    }
    .received{
        .row{
            .col-xs-12{
                .card{
                    border-radius: 25px !important;
                    
                    border: 3px solid $color-prime !important;
                    .card-header{
                        background-color: $color-received !important;
                        color : $color-prime !important;
                        border-radius: 25px 25px 0px 0px !important;
                    }
                    .card-title{
                        color: $color-prime !important;
                    }    
                    .btns{
                        .accept{
                            background-color: $color-secondary !important;
                            color: white !important;
                            border : 2px solid $color-secondary !important;
                        }
                        .accept:hover{
                            background-color: white !important;
                            color: $color-secondary !important;
                            border : 2px solid $color-secondary !important;
                        }
                        .reject{
                            background-color: $color-reject !important;
                            color: white !important;
                            border : 2px solid $color-reject !important;
                        }
                        .reject:hover{
                            background-color: white !important;
                            color: $color-reject !important;
                            border : 2px solid $color-reject !important;
                        }
                    }
    
                }
            }
        }
    }
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .navigation-btns{
        // .btn{
        //     margin : 0 10px !important;
        // }
    }
    .create-req-body{
        .card{
            
            .card-header{
                select{
                    width : 240% !important;
                
                }
            }
            .card-title{
                select {
                    width : 200% !important;
                
                }
            }
        }
    }    
}